@model EnrollmentApplicationLab06.Models.Student

<div class="panel panel-primary">
    <h3 class="panel-title">The student of the month is: @Model.StudentFirstName @Model.StudentLastName</h3>
</div> 
